label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

input,
select {
    outline: none;
    width: 100%;
    border-radius: var(--charlieBorderRadius);
    padding: var(--charlieButtonPadding);
    background: var(--charlieWhite);
    border: 1px solid var(--charlieGrey);
    color: var(--charlieBlack);
    transition: var(--charlieTransition);
    font-size: inherit;
    font-style: italic;
}

input:hover,
input:active {
    border: 1px solid var(--charlieGreyHover);
}

input:focus {
    border: 1px solid var(--charlieSoftBlackHover);
}

input:disabled {
    border: 1px solid var(--charlieGreyHover);
    cursor: auto !important;
}

.input-group .color {
    position: relative;
    border-radius: var(--charlieBorderRadius);
}

.input-group .color::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translate(-50%, -50%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: inherit;
    border: 1px solid var(--charlieGrey);
}

.input-group .color input {
    padding-left: 2.75rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.input-group.append {
    flex-direction: row;
    height: fit-content;
}

.input-group.append input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.input-group.append button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0.5rem;
}