nav {
    display: grid;
    grid-template-columns: auto max-content max-content;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    user-select: none;
    margin-bottom: 1rem;
    height: 65px;
}

nav.fixed {
    position: fixed;
    z-index: 6;
    margin-inline: 40px;
    width: calc(100% - 80px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

nav img {
    display: flex;
    align-items: center;
    height: 18px;
    padding-block: 2px;
}

nav .links {
    display: flex;
    column-gap: 1rem;
}

nav .links.right {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-left: auto;
}

nav .links.right a {
    color: rgba(0, 0, 0, 0.45);
}

nav .links.right a:hover,
nav .links.right a.active {
    color: #000;
}

nav .hamburger {
    display: none;
    cursor: pointer;
    width: 14px;
}

nav .hamburger .line {
    width: 14px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
}

nav .hamburger.active .line {
    background-color: #000;
}

nav.fixed .hamburger .line,
nav.fixed .hamburger.active .line {
    background-color: #fff;
}