.token {
    display: grid;
    grid-template-areas: "status name balance"
        "delegations delegations delegations";
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    column-gap: 16px;
    row-gap: 10px;
    margin-bottom: 10px;
}

.token h3 {
    font-size: 20px;
    margin: 0;
}

.token div {
    align-items: center;
}

.token .status {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.token .name {
    grid-area: name;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.token .name p {
    padding-block: 5px;
}

.token .name p .symbol,
.token .name p:hover .name {
    display: none;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.token .name p:hover .symbol {
    display: inline;
    opacity: 0.65;
    background: linear-gradient(0deg, #000, rgba(0, 0, 0, .65));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.token-img {
    height: 25px;
    width: 25px;
    min-width: 15px;
    position: relative;
    margin-right: 10px;
}

.img {
    background: red;
    border-radius: 50%;
    background-color: lightgray;
}

.img.token {
    height: 30px;
    width: 30px;
    right: 0px;
}

.img.chain {
    height: 15px;
    width: 15px;
    right: -10px;
    top: 5px;
    position: absolute;
}

.token .balance {
    grid-area: balance;
    display: flex;
}

.token .delegations {
    grid-area: delegations;
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
}

.delegations .delegation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 8px;
}

.delegation .img {
    height: 20px;
    width: 20px;
    min-width: 20px;
    border-radius: 50%;
    background: var(--charlieGradient);
}

.signature {
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
}

.signature {
    background-color: gray;
}

.signature.signed {
    background-color: green;
}

.signature.pending {
    background-color: yellow;
}

.signature.error {
    background-color: red;
}