.recent .hero {
    padding-block: 40px;
}

.recent .hero .content {
    max-width: 55%;
    margin-left: 0;
    min-height: 150px;
    display: grid;
    align-content: center;
}

@media (max-width: 900px) {
    .recent .hero .content { 
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    .recent .hero .content {
        max-width: 100%;
    }
}