.home .hero {
    padding-block: 40px;
}

.home .hero div.content {
    max-width: 60%;
    margin-left: 0;
    min-height: 600px;
    display: grid;
    align-content: center;
}

.home .hero div.content .gradient {
    cursor: pointer;
}

.home .hero p.lead {
    font-size: 1.25rem;
    margin-bottom: 40px;
    margin-top: 20px;
}

.home .hero .buttons {
    display: grid;
    grid-template-columns: max-content min-content auto;
    column-gap: 1rem;
    align-items: center;
    margin-bottom: 20px;
}

.home .benefits { 
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 10px;
    margin-block: 40px;
}

.home .benefits .benefit {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px;
}

.home .benefits .benefit h3 { 
    max-width: 270px;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    .home .hero div.content {
        max-width: 80%;
    }

    .home .hero .content { 
        max-width: 80%;
    }

    .home .benefits {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .home .hero .content {
        max-width: 100%;
    }

    .home .hero .buttons {
        grid-template-columns: auto auto;
        row-gap: 1rem;
    }

    .home .hero .buttons .search {
        grid-column: 1 / span 2;
    }

    .home .benefits {
        grid-template-columns: 1fr;
    }
}