.profile {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.profile img {
    border-radius: 50%;
    background: var(--charlieWhite);
    width: 30px;
    height: 30px;
    align-self: center;
}