* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', sans-serif;
}

html,
body {
  color: rgba(0, 0, 0, 0.87);
  height: 100%;
  width: 100vw;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}

button {
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: none;
  padding: 0.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}