/* I am working on making a brand that looks like Arc from the Browser Company */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --charlieWhite: #ffffff;
    --charlieWhiteHover: rgba(255, 255, 255, 0.95);
    --charlieGrey: #f0f0f0;
    --charlieGreyHover: rgba(230, 230, 230, 0.95);
    --charlieBlack: #111;
    --charlieBlackHover: rgba(0, 0, 0, 0.95);
    --charlieSoftBlack: #555;
    --charlieSoftBlackHover: rgba(85, 85, 85, 0.95);
    --charliePink: #ff04c9;
    --charlieOrange: #ff6804;
    --charlieGradient: linear-gradient(-37deg, #ff6804, #ff04c9);
    --charlieGradientAlt: linear-gradient(-37deg, #5243f9, #43f9e1);
    --charlieBorderRadius: 0.25rem;
    --charlieButtonPadding: 0.65rem .75rem;
    --charlieGlowingTextShadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    --charlieTransition: all .15s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: var(--charlieSoftBlack);
}

html,
body {
    background: var(--charlieWhite);
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    color: var(--charlieBlack);
    font-weight: 700;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0.5rem;
    text-align: left;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--charlieGrey);
    border-radius: var(--charlieBorderRadius);
    padding: var(--charlieButtonPadding);
}

button.block {
    display: block;
    width: 100%;
}

button,
button span,
button .content {
    transition: var(--charlieTransition);
}

button:hover {
    background: var(--charlieBlack);
}

button:hover,
button:hover .content {
    color: var(--charlieWhiteHover);
    text-shadow: var(--charlieGlowingTextShadow);
}

button.primary {
    background: var(--charlieGradient);
    position: relative;
    background-position: 0 0;
}

button.primary .content {
    position: relative;
    z-index: 5;
    color: #fff;
    height: initial;
}

button.primary:hover {
    background: linear-gradient(-30deg, #ff6804, #ff04c9);
    text-shadow: var(--charlieGlowingTextShadow);
    opacity: 0.95;
}

button.primary:hover .content {
    color: var(--charlieWhite);
}

button.primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/noise.png') repeat;
    background-blend-mode: overlay;
    background-size: 200px 200px;
    transition: var(--charlieTransition);
}

button.primary.secondary {
    background: var(--charlieGradientAlt);
    color: var(--charlieWhite);
}

button.primary.secondary:hover,
button.primary.secondary:focus {
    background: var(--charlieGradientAlt);
}

button:disabled {
    cursor: auto !important;
    filter: saturate(0.1);
}

a,
button.link {
    background: none;
    color: var(--charlieBlack);
    font-size: inherit;
    padding: 0;
    text-decoration: none;
    font-weight: 700;
}

button.link:active,
button.link:focus,
button.link:hover {
    background: none;
    color: var(--charlieBlackHover);
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

input,
select {
    outline: none;
    width: 100%;
    border-radius: var(--charlieBorderRadius);
    padding: var(--charlieButtonPadding);
    background: var(--charlieWhite);
    border: 1px solid var(--charlieGrey);
    color: var(--charlieBlack);
    transition: var(--charlieTransition);
    font-size: inherit;
    margin-bottom: 1rem;
}

input:hover,
input:active {
    border: 1px solid var(--charlieGreyHover);
}

input:focus {
    border: 1px solid var(--charlieSoftBlackHover);
}

.container {
    margin: 0 auto;
    max-width: 68rem;
    width: 90%;
}

.card {
    background: var(--charlieGrey);
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 1rem 0;
    transition: all .075s ease-in-out;
}

button,
input,
.card {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    transition: var(--charlieTransition);
}

button:hover,
input:hover,
.card:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0);
}

.gradient {
    background: var(--charlieGradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;

    /* Add the noise texture to text with the gradient effect and mask it to the text */
    background-image: url('/noise.png');
    background-blend-mode: overlay;
    background-size: 200px 200px;

    opacity: 0.75;
}

.gradient::before {
    content: 'one click';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--charlieGradient);
    z-index: -1;
    background-blend-mode: screen;
    -webkit-background-clip: text;
}

.gradient::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: var(--charlieGradient);
    z-index: -1;
    filter: blur(50px);
    opacity: .35;
}