.search form {
    display: inline-grid;
    align-items: center;
    width: 100%;
    grid-template-columns: min-content auto min-content;
}

.search form input { 
    width: 100%;
}

.search .status {
    background: red;
    font-size: 12px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.search .status.empty { 
    background: transparent;
}

.search .status.invalid {
    background: red;
}

.search .status.valid {
    background: lime;
}

.search input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search button {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.search button .icon {}